* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --text-light: white;
    --border-color: black;
    --shadow-color: gray;
    --light-background: #eee;
    --dark-text: #333;
    --footer-border-color: #000;

    --standard-padding: 10px;
    --small-padding: 2px;
    --standard-margin: 1rem;
}

nav {
    background-color: var(--primary-color);
    padding: var(--standard-padding);
}

nav a {
    color: var(--text-light);
    padding: var(--standard-padding);
}

h1 {
    color: var(--primary-color);
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: var(--small-padding);
    box-shadow: 0 0 30px var(--shadow-color);
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 0px;
    left: 135px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--footer-border-color);
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid var(--border-color);
    padding: 1rem;
    background-color: var(--light-background);
    color: var(--dark-text);
}