:root {
    --primary-color: darkblue;
    --text-light: white;
    --border-color: black;
    --shadow-color: gray;
    --light-background: #eee;
    --dark-text: #333;
    --footer-border-color: #000;

    --standard-padding: 10px;
    --small-padding: 2px;
    --standard-margin: 1rem;
}

nav {
    background-color: var(--primary-color);
    padding: var(--standard-padding);
}

nav a {
    color: var(--text-light);
    padding: var(--standard-padding);
    display: block;
}

h1 {
    color: var(--primary-color);
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: var(--small-padding);
    box-shadow: 0 0 30px var(--shadow-color);
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: var(--standard-margin);
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: var(--standard-margin);
    background-color: var(--light-background);
    color: var(--dark-text);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--footer-border-color);
    text-align: center;
}